{% extends "book/base.html" %}
{% block content %}

<h3>Search</h3>
<form method="GET" action=".">
    <div class="form-row">
        <div class="form-group col-12">
            <div class="input-group">
                <input class="form-control py-2 border-right-0 border" type="search" name="title_contains"
                    placeholder="Title..."/>
                <span class="input-group-append">
                    <div class="input-group-text bg-transparent">
                        <i class="fa fa-search"></i>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <div class="input-group">
                <input class="form-control py-2 border-right-0 border" type="search" name="author_contains"
                    placeholder="Author..." />
                <span class="input-group-append">
                    <div class="input-group-text bg-transparent">
                        <i class="fa fa-search"></i>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <div class="input-group">
                <input class="form-control py-2 border-right-0 border" type="search" name="language_contains"
                    placeholder="Language...">
                <span class="input-group-append">
                    <div class="input-group-text bg-transparent">
                        <i class="fa fa-search"></i>
                    </div>
                </span>
            </div>
        </div>
    </div>


    <div class="form-row">

        <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMin">Publish date minimum</label>
            <input type="date" class="form-control" id="publishDateMin" name="date_min">
        </div>

        <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMax">Publish date maximum</label>
            <input type="date" class="form-control" id="publishDateMax" name="date_max">
        </div>

    </div>

    <button type="submit" class="btn btn-primary" value='Search '>Search</button>


</form>


<table class="table">
    <thead>
        <tr class="table">
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Date of publication</th>
            <th scope="col">ISBN number</th>
            <th scope="col">Pages</th>
            <th scope="col">Book covers</th>
            <th scope="col">Language</th>
        </tr>
    </thead>

    <tbody>
        
        {% if books %}

            {% for book in books %}

            <tr>
                <a class="tableRow" href="#">

                    <td> <a href="{% url 'book-detail' book.id %}">{{ book.title }}</a></td>

                    <td> {{ book.author }} </td>

                    <td>{{ book.date_pub }} </td>

                    <td>{{ book.number_ISBN }} </td>

                    {% if book.pages == 0 %}
                    <td> </td>
                    {% else %}
                    <td>{{ book.pages }}</td>
                    {% endif %}

                    {% if book.book_covers == '' %}
                    <td> </td>
                    {% else %}
                    <td> <a href="{{ book.book_covers }}" target=blank> Link </a></td>
                    {% endif %}

                    <td>{{ book.language }} </td>

                </a>
            </tr>
            {% endfor %}


        {% else %}
            <td>No result</td>
        {% endif %}

    </tbody>
</table>


{% endblock content %}